<!DOCTYPE html>
<html>
  <head>
    <title>Apple Forecast App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script type="text/javascript">
      window.REACT_APP_GOOGLE_MAPS_API_KEY = "<%= ENV['REACT_APP_GOOGLE_MAPS_API_KEY'] %>";
    </script>
    <%= stylesheet_link_tag 'application', "data-turbo-track": 'reload', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbo-track': 'reload', defer: true %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
